
.pageBkg {
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBlock {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.userInput {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12pt;
    border: 1px solid black;
}

.userButton {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(0, 77, 200);
    color: white;
    cursor: pointer;
}

.loginBlock button:hover { 
    background-color: rgb(7, 4, 238); 
}

.regLink {
    background-color: aquamarine;
    transform: translate(18%, 0%);
}